<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Author Blog</title>
</head>
<body>

    <h1>
        <a href="{% url 'home' %}">Multi Author Blog</a>
    </h1>

    <hr>

    <nav>
        <a href="{% url 'home' %}">Home</a>

        {% if user.is_authenticated %}

            |

            <a href="{% url 'dashboard' %}">
                Dashboard
            </a>

            |

            Welcome, {{ user.username }}

            |

            <a href="{% url 'logout' %}">
                Logout
            </a>

        {% else %}

            |

            <a href="{% url 'login' %}">
                Login
            </a>

            |

            <a href="{% url 'register' %}">
                Register
            </a>

        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>